body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    background-color: #333;
    padding: 10px;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  }

  nav {
    float: right;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav li {
    display: inline;
    margin-left: 20px;
  }

  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  .logo  {
    float: left;
    
  }
  .logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .banner-container {
    background-image: url('imagess/banner.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    height: 80vh;
}
.banner-content h1 {
  font-size: 32px;
  font-style: italic;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}


 .banner-content p {
    font-size: 18px;
    font-style: italic;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    z-index: 1;
} 

  @media (max-width: 768px) {
    nav {
      float: none;
      text-align: center;
    }

    nav ul {
      display: block;
      text-align: center;
      margin-top: 10px;
    }

    nav li {
      display: block;
    
    }
  .banner-content p{
      top: 70%;
      padding-bottom: 40px;
      padding-top: 20px;
  }

  .banner-content h1 {
    font-size: 20px;
    font-style: italic;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  



  }